#team-members-table{
    .table-properties{
        padding: 1.875rem 2.1875rem;
        margin-bottom: 4.375rem;

        ul{
            margin-top: 1.875rem;

            li{

                input{
                    width: 18.75rem;
                }

                select, input{
                    padding: 0.5rem 0.9375rem;
                }
            }
        }
    }
}