<section id="form">
    <h1>Login</h1>
    <p>Don't have an account? <a routerLink="/auth/register">Register here</a></p>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="box">
        <h2>User details</h2>

        <div class="input-element">
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" placeholder="j.smith@email.com">
            <span class="input-error" *ngIf="loginForm.controls['email'].errors?.['required']">
                <i class="fa-solid fa-circle-exclamation"></i>
                Email is required.
            </span>
            <span class="input-error" *ngIf="loginForm.controls['email'].errors?.['email']">
                <i class="fa-solid fa-circle-exclamation"></i>
                Email is not valid.
            </span>
        </div>
        <div class="input-element">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
            <span class="input-error" *ngIf="loginForm.controls['password'].errors">
                <i class="fa-solid fa-circle-exclamation"></i>
                Password is required.
            </span>
        </div>
        <button type="submit" class="btn-primary">Login</button>

        <a routerLink="/auth/forgot">Forgot password?</a>
    </div>
    </form>
</section>