<app-title [project]="project"></app-title>

<section id="projectOptions">
    <div class="box-container">
        <div routerLink="/project/sprints/{{project.id}}" class="box">
            <i class="fa-solid fa-rocket"></i>
            <span>Sprints</span>
        </div>
        <div routerLink="/project/team-members/{{project.id}}" class="box">
            <i class="fa-solid fa-people-group"></i>
            <span>Team Members</span>
        </div>
        <div routerLink="/project/charts/{{project.id}}" class="box">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Charts</span>
        </div>
    </div>
</section>