<section id="title">
    <div class="capacity-table-header">
        <h2>{{project.name}}</h2>
        <div class="icons">
            <a (click)="edit(project.id)"><i class="fa-solid fa-file-pen"></i></a>
            <a (click)="delete(project.id, project.name)"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
    <p> {{project.description}} </p>
</section>

<section id="projectOptions">
    <div class="box-container">
        <div [routerLink]="['/project/{{project.id}}/sprints']" class="box">
            <i class="fa-solid fa-rocket"></i>
            <span>Sprints</span>
        </div>
        <div [routerLink]="['/project/{{project.id}}/team-members']" class="box">
            <i class="fa-solid fa-people-group"></i>
            <span>Team Members</span>
        </div>
    </div>
</section>